{% extends '../base.html' %}{% load static %}

{%block csspart%}
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{%static 'css/cartpage.css' %}">
<link href="{%static 'assets/css/theme.css' %}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<style>
    .pagination {
        display: inline-block;
        width: 80%;
        margin-left: 50%;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
    }

    .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }

    .text-lg-center {
        padding-left: 5px;
    }

    .bg-light {
        background-color: #373d4f !important;
    }

    @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

    body {
        background-color: #eee;
        font-family: 'Calibri', sans-serif !important
    }

    .mt-100 {
        margin-top: 100px
    }

    .card {
        margin-bottom: 30px;
        border: 0;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        letter-spacing: .5px;
        border-radius: 8px;
        -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
        box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05)
    }

    .card .card-header {
        background-color: #fff;
        border-bottom: none;
        padding: 24px;
        border-bottom: 1px solid #f6f7fb;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
    }

    .card .card-body {
        padding: 30px;
        background-color: transparent
    }

    .order-form .container {
        color: #4c4c4c;
        padding: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    }

    .order-form-label {
        margin: 8px 0 0 0;
        font-size: 14px;
        font-weight: bold;
    }

    .order-form-input {
        width: 100%;
        padding: 8px 8px;
        border-width: 1px !important;
        border-style: solid !important;
        border-radius: 3px !important;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        line-height: 1.2em;
        background-color: transparent;
        border-color: #cccccc;
    }

    .btn-submit:hover {
        background-color: #090909 !important;
    }

    section {
        padding-top: 0;
        padding-bottom: 0;
    }

    .panel {
        margin-bottom: 10px;
        ;
    }

    .btn-success {
        color: #FFFEFE;
        background-color: #e6a923f0;
        border-color: #e6a923f0;
    }

    .order-form-input {
        padding: 5px 6px;
        font-size: 17px;
    }

    .alert-error {
        color: #fff;
        background-color: rgb(223, 199, 212);
        border-color: rgb(223, 199, 212);
    }

    .alert-success {
        color: #fff;
        background-color: rgb(223, 199, 212);
        border-color: rgb(223, 199, 212);
    }
</style>
{%endblock csspart%}

<body>
    {%block body%}
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {%if product%}
                    <div class="card-header">
                        <h5>SELECTED FOOD</h5>
                    </div>

                    <table class="table">
                        <thead class="thead-primary">
                            <tr>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Food</th>
                                {%for offers in offer%}
                                {%if offers.product_offer == products.id%}
                                <th>offer</th>
                                {%endif%}
                                {%endfor%}
                                <th>Price</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for products in product%}
                            <tr class="alert" role="alert">
                                <td>
                                    <label class="checkbox-wrap checkbox-primary">
                                        <input type="checkbox" disabled>
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td>
                                    <div class="img" style="background-image: url({{products.image.url}});"></div>
                                </td>
                                <td>
                                    <div class="email">
                                        <span>{{products.name}}</span>
                                        {%for offers in offer%}
                                        {%if offers.product_offer == products.id%}
                                        <span>offers.offer_amount</span>
                                        {%endif%}
                                        {%endfor%}
                                    </div>
                                </td>
                                <td><span>£ {{products.price}}</span></td>
                                <td>
                                    <a href="" data-id={{products.id}} type="button" class="close remove-from-cart"
                                        data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                    </a>
                                </td>
                            </tr>
                            {%endfor%}


                        </tbody>
                    </table>
                    <div class="pagination">
                        <span>

                            {%if product.has_previous%}
                            <a href="?page={{product.previous_page_number}}"> Previous </a>
                            {%endif%}

                            <a><span>{{product.number}}</span></a>

                            {%if product.has_next%}
                            <a href="?page={{product.next_page_number}}"> Next </a>
                            {%endif%}

                        </span>

                    </div>

                    <section class="order-form my-4 mx-4">
                        <div class="container pt-4">
                            <div class="row">
                                <div class="col-12">
                                    <h1>Order Form</h1>
                                    <hr class="mt-1">
                                </div>
                                <div class="col-6">
                                    <div class="container bootstrap snippets bootdey">
                                        <div class="col-12 mb-2">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ol class="breadcrumb">
                                                        <li><a href="#">foods on cart</a></li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mb-2">
                                                    <div class="panel panel-info panel-shadow">
                                                        <div class="panel-body">
                                                            <div class="table-responsive">
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="col-12 col-sm-6 mt-2 pr-sm-2">
                                                                                Product</th>
                                                                            <th class="col-12 col-sm-6 mt-2 pr-sm-2">Qty
                                                                            </th>
                                                                            <th class="col-12 col-sm-6 mt-2 pr-sm-2">
                                                                                Price</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for products in product%}
                                                                        <tr class="cart-border">
                                                                            <td class="col-12 col-sm-6 mt-2 pr-sm-2">
                                                                                {{products.name}}</td>
                                                                            <td class="col-12 col-sm-6 mt-2 pr-sm-2">
                                                                                <form class="form-inline">
                                                                                    <input class="form-control item-qty"
                                                                                        type="number" value="1" min="1">
                                                                                    <input
                                                                                        class="form-control item-qty productid"
                                                                                        type="number"
                                                                                        value="{{products.id}}" hidden>
                                                                                </form>
                                                                            </td>
                                                                            <td class="col-12 col-sm-6 mt-2 pr-sm-2">
                                                                                <span
                                                                                    class="cart-price">{{products.price}}
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        {%endfor%}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="{% url 'delivery:filter'%}" class="btn btn-success"><span
                                                            class="glyphicon glyphicon-arrow-left"></span>&nbsp;Continue
                                                        Shopping</a>

                                                    &nbsp; &nbsp; &nbsp;
                                                    Total Price: <span id="total_price">{{initial_total}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-6 show_error">
                                    <div class="row mx-4">
                                        <div class="col-12 mb-2">
                                            <label class="order-form-label">Name</label>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <input class="order-form-input" placeholder="First"
                                                value="{{user.first_name}}">
                                        </div>
                                        <div class=" col-12 col-sm-6 mt-2 mt-sm-0">
                                            <input class="order-form-input" placeholder="Last"
                                                value="{{user.last_name}}">
                                        </div>
                                    </div>

                                    <div class="row mt-3 mx-4">
                                        <div class="col-6">
                                            <label class="order-form-label" for="date-picker-example">Date</label>
                                        </div>
                                        <div class="col-6">
                                            <label class="order-form-label" for="date-picker-example">Address</label>
                                        </div>
                                        <div class="col-6">
                                            {%if datenow == 'Sunday'%}
                                            <select id="collectionDay"
                                                class="order-form-input custom-select-sm collectionday"
                                                name="collectionDay">
                                                <option selected value="{{sunday}}">{{full_date}}</option>
                                                <option value="{{monday}}">Monday</option>
                                                <option value="{{tuesday}}">Tuesday</option>
                                                <option value="{{wednesday}}">Wednesday</option>
                                                <option value="{{thursday}}">Thursday</option>
                                                <option value="{{friday}}">Friday</option>
                                            </select>
                                            {%elif datenow == 'Monday'%}

                                            <select id="collectionDay"
                                                class="order-form-input custom-select-sm collectionday"
                                                name="collectionDay">
                                                <option selected value="{{monday}}">{{full_date}}</option>
                                                <option value="{{tuesday}}">Tuesday</option>
                                                <option value="{{wednesday}}">Wednesday</option>
                                                <option value="{{thursday}}">Thursday</option>
                                                <option value="{{friday}}">Friday</option>
                                            </select>

                                            {%elif datenow == 'Tuesday'%}

                                            <select id="collectionDay"
                                                class="order-form-input custom-select-sm collectionday"
                                                name="collectionDay">
                                                <option selected value="{{tuesday}}">{{full_date}}</option>
                                                <option value="{{wednesday}}">Wednesday</option>
                                                <option value="{{thursday}}">Thursday</option>
                                                <option value="{{friday}}">Friday</option>
                                            </select>


                                            {%elif datenow == 'Wednesday'%}

                                            <select id="collectionDay"
                                                class="order-form-input custom-select-sm collectionday"
                                                name="collectionDay">
                                                <option selected value="{{wednesday}}">{{full_date}}</option>
                                                <option value="{{thursday}}">Thursday</option>
                                                <option value="{{friday}}">Friday</option>
                                            </select>

                                            {%elif datenow == 'Thursday' %}

                                            <select id="collectionDay"
                                                class="order-form-input custom-select-sm collectionday"
                                                name="collectionDay">
                                                <option selected value="{{thursday}}">{{full_date}}</option>
                                                <option value="{{friday}}">Friday</option>
                                            </select>
                                            {%elif 'Friday' in datenow or 'Saturday' in datenow %}

                                            <select id="collectionDay"
                                                class="order-form-input custom-select-sm collectionday"
                                                name="collectionDay">
                                                <option selected value="{{friday}}">{{full_date}}</option>
                                            </select>
                                            {%endif%}
                                        </div>
                                        <div class="col-6">
                                            <input class="order-form-input address" placeholder="Street Address"
                                                value="{{user.address}}">
                                        </div>
                                    </div>

                                    <div class="row mt-3 mx-4">

                                        <div class="col-12 col-sm-6 mt-2 pr-sm-2">
                                            <input class="order-form-input streetaddress"
                                                placeholder="Street Address Line 2">
                                        </div>
                                        <div class="col-12 col-sm-6 mt-2 pl-sm-0">
                                            <input class="order-form-input region" placeholder="Region">
                                        </div>
                                        <div class="col-12 col-sm-6 mt-2 pr-sm-2">
                                            <input class="order-form-input postal" placeholder="Postal / Zip Code"
                                                value="44600">
                                        </div>
                                        <div class="col-12 col-sm-6 mt-2 pl-sm-0">
                                            <input class="order-form-input country" placeholder="Country" value="Nepal">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <button type="button" id="checkoutform"
                                                class="btn btn-success d-block mx-auto btn-submit">Submit</button>
                                            {% csrf_token %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                    {%else%}
                    <div class="container-fluid mt-100">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Cart</h5>
                                    </div>
                                    <div class="card-body cart">
                                        <div class="col-sm-12 empty-cart-cls text-center"> <img
                                                src="https://i.imgur.com/dCdflKN.png" width="130" height="130"
                                                class="img-fluid mb-4 mr-3">
                                            <h3><strong>Your Cart is Empty</strong></h3>
                                            <h4>Add something to make me happy :)</h4> <a
                                                href="{% url 'delivery:filter'%}"
                                                class="btn btn-primary cart-btn-transform m-3" data-abc="true">find food
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </section>
    {%endblock body%}

</body>

</html>