<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>Table 06</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{%static 'css/cartpage.css' %}">
    <style>
        .pagination {
            display: inline-block;
            width: 80%;
            margin-left: 50%;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
    </style>
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>Food</th>
                                    <th>Price</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for products in product%}
                                <tr class="alert" role="alert">
                                    <td>
                                        <label class="checkbox-wrap checkbox-primary">
                                            <input type="checkbox" disabled>
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <div class="img" style="background-image: url({{products.image.url}});"></div>
                                    </td>
                                    <td>
                                        <div class="email">
                                            <span>{{products.name}}</span>
                                            {%for offers in offer%}
                                            {%if offers.product_offer == products.id%}
                                            <span>offers.offer_amount</span>
                                            {%endif%}
                                            {%endfor%}
                                        </div>
                                    </td>
                                    <td><span>{{products.price}}</span></td>
                                    <td>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                        </button>
                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        <span>

                            {%if product.has_previous%}
                            <a href="?page={{product.previous_page_number}}"> Previous </a>
                            {%endif%}

                            <a><span>{{product.number}}</span></a>

                            {%if product.has_next%}
                            <a href="?page={{product.next_page_number}}"> Next </a>
                            {%endif%}

                        </span>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>