.manage-modal {
    top: -30px;
    display: block;
    left: -500px;
  }

.text-secondary-d1 {
    color: #728299 !important;
}

.page-header {
    margin: 0 0 1rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
    border-bottom: 1px dotted #e2e2e2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.page-title {
    padding: 0;
    margin: 0;
    font-size: 1.75rem;
    font-weight: 300;
}

.brc-default-l1 {
    border-color: #dce9f0 !important;
}

.ml-n1,
.mx-n1 {
    margin-left: -.25rem !important;
}

.mr-n1,
.mx-n1 {
    margin-right: -.25rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.text-grey-m2 {
    color: #888a8d !important;
}

.text-success-m2 {
    color: #86bd68 !important;
}

.font-bolder,
.text-600 {
    font-weight: 600 !important;
}

.text-110 {
    font-size: 110% !important;
}

.text-blue {
    color: #478fcc !important;
}

.pb-25,
.py-25 {
    padding-bottom: .75rem !important;
}

.pt-25,
.py-25 {
    padding-top: .75rem !important;
}

.bgc-default-tp1 {
    background-color: rgba(121, 169, 197, .92) !important;
}

.bgc-default-l4,
.bgc-h-default-l4:hover {
    background-color: #f3f8fa !important;
}

.page-header .page-tools {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.btn-light {
    color: #757984;
    background-color: #f5f6f9;
    border-color: #dddfe4;
}

.w-2 {
    width: 1rem;
}

.text-120 {
    font-size: 120% !important;
}

.text-primary-m1 {
    color: #4087d4 !important;
}

.text-danger-m1 {
    color: #dd4949 !important;
}

.text-blue-m2 {
    color: #68a3d5 !important;
}

.text-150 {
    font-size: 150% !important;
}

.text-60 {
    font-size: 60% !important;
}

.text-grey-m1 {
    color: #7b7d81 !important;
}

.align-bottom {
    vertical-align: bottom !important;
}


.modal-box {
  display:none;
  position:absolute;
  z-index:1000;
  width:98%;
  background:white;
  border-bottom:1px solid #aaa;
  border-radius:4px;
  box-shadow:0 3px 9px rgba(0,0,0,0.5);
  border:1px solid rgba(0,0,0,0.1);
  background-clip: padding-box;
}
 
.modal-box header,
.modal-box .modal-header {
  padding:1.25em 1.5em;
  border-bottom:1px solid #ddd;
}
 
.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 {margin:0; }
.modal-box .modal-body {padding:2em 1.5em; }
.modal-box footer,
.modal-box .modal-footer {
  padding:1em;
  border-top:1px solid #ddd;
  background: rgba(0,0,0,0.02);
  text-align:right;
}
.modal-overlay {
  opacity:0;
  filter: alpha(opacity=0);
  position:absolute;
  top:0;
  left:0;
  z-index:900;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.3)!important;
}
 
a.close {
  line-height:1;
  font-size:1.5em;
  position:absolute;
  top:5%;
  right:2%;
  text-decoration:none;
  color:#bbb;
}

a.close:hover {
  color:#222;
  -webkit-transition: color1s ease;
  -moz-transition: color1s ease;
  transition: color1s ease;
}
