{%extends '../base.html'%}{% load static%}

{%block csspart%}
<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  referrerpolicy="no-referrer" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/userprofile.css' %}" />
<link href="{%static 'assets/css/theme.css' %}" rel="stylesheet" />
<style>
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  .btn-group-sm>.btn,
  .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
  }

  .btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
  }

  .bg-light {
    background-color: #373d4f !important;
  }

  .border {
    border: 1px solid #b4c0e6 !important;
  }

  .fab {
    font-size: 40px;
    color: white;
    padding-left: 5px;
  }

  .edituser {
    font-size: 25px;
  }

  .alert-error {
    color: #fff;
    background-color: rgb(223, 199, 212);
    border-color: rgb(223, 199, 212);
  }

  .image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .editimage:hover .image {
    opacity: 0.3;
  }

  .editimage:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: #373d4f;
    color: white;
    font-size: 10px;
    margin-top: 1px;
    margin-bottom: 5px;
  }

  .editimage span {
    cursor: pointer;
    text-align: center;
  }

  .editimage a {
    position: relative;
    overflow: hidden;

  }

  .editimage span:hover a {
    color: #ffdc2fc4;
  }

  .editimage a+input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
</style>
{%endblock csspart%}
</head>

<body>
  {%block body%}
  <section class="customer-profile">
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="row">
            <!-- right side user setting -->
            <div class="col-lg-3 col-md-4 d-md-block d-none ">
              <div class="card right-side-nav">
                <div class="row">
                  <nav class="nav d-block pl-4">

                    <a data-toggle="tab" class="nav-link active" href="#profile"><i
                        class="fas fa-user"></i><span>Profile</span> </a>
                    <a data-toggle="tab" class="nav-link" href="#updateProfile"><i
                        class="fas fa-user-edit"></i><span>Update Profile</span> </a>
                    <a data-toggle="tab" class="nav-link" href="#changePassword"><i class="fas fa-key"></i><span>Change
                        Password</span> </a>
                    <a data-toggle="tab" class="nav-link" href="#invoice"><i
                        class="fas fa-receipt"></i></i><span>Invoice</span> </a>
                    <a data-toggle="tab" class="nav-link" href="#deleteAccount"><i
                        class="fas fa-trash-alt"></i><span>Delete Account</span> </a>
                  </nav>

                </div>
              </div>
            </div>

            <div class="col-lg-9 col-md-8 d-md-block d-none">
              <div>
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
                {% endfor %}
              </div>
              <div class="card-body tab-content border ">
                <!-- Customer profile -->
                <div class="tab-pane active" id="profile">
                  <h6>MY PROFILE</h6>
                  <div class="text-center">
                    {% if user.profile_pic %}
                    <div class="editimage">
                      <img class="img-fluid rounded-circle mt-5 image" height="160px" width="160px"
                        src="{{ user.profile_pic.url }}" alt="customer pic">
                      <br />
                      <div class="middle">

                        <form action="{% url 'user:updateuser' %}" method="POST" enctype="multipart/form-data"
                          novalidate>
                          {% csrf_token %}
                          <span><a href="#"><i class="fas fa-user-edit edituser"></i></a> {{form.profile_pic}}</span>
                      </div>
                      <input type="submit" name="submit" class="btn btn-primary btn-sm text" value="change">
                      </form>
                    </div>

                    {%else%}
                    <div class="editimage">
                      <img class="img-fluid rounded-circle mt-5 image" height="160px" width="160px"
                        src="{% static 'image/user.png' %}" alt="customer pic">
                      <br />
                      <div class="middle">
                        <form action="{% url 'user:updateuser' %}" method="POST" enctype="multipart/form-data"
                          novalidate>
                          {% csrf_token %}
                          <span><a href="#"><i class="fas fa-user-edit edituser"></i></a> {{form.profile_pic}}</span>
                      </div>
                      <input type="submit" name="submit" class="btn btn-primary btn-sm text" value="change">
                      </form>
                    </div>


                    {%endif%}
                    <p>Name: {{user.first_name}} </p>
                    <p>Email: {{user.email}}</p>
                    <p>Address: {{user.address}}</p>
                  </div>
                </div>

                <!-- Customer profile Ends-->
                <!-- Update profile -->
                <div class="tab-pane" id="updateProfile">
                  <h6>Update Profile</h6>
                  <form action="{% url 'user:updateuser' %}" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {{form.address}}
                    <input type="submit" name="submit" class="btn btn-primary btn-sm" value="Update Account">
                  </form>
                </div>

                <!-- Update profile Ends-->
                <!-- Change Password-->
                <div class="tab-pane changePasswordForm" id="changePassword">
                  <h6>Change Password</h6>
                  <form id="changePassword2" method="POST" novalidate>
                    {% csrf_token %}
                    {{form.password}}
                    {{form.newpassword}}
                    {{form.renewpassword}}
                    <input type="submit" name="changePassword1" class="btn btn-primary btn-sm" value="Change Password">
                  </form>
                </div>
                <!-- Change Password Ends-->

                <!-- Invoice -->
                <div class="tab-pane" id="invoice">
                  <h6>Invoice</h6>
                </div>
                <!-- Invoice Ends-->

                <!-- Delete Account -->
                <div class="tab-pane" id="deleteAccount">
                  <h6>Delete Account</h6>
                  <p>Are you sure you want to delete this account</p>
                  <form action="" method="POST">
                    <input type="submit" name="delete" class="btn btn-primary btn-sm" value="Delete Account" />
                  </form>
                </div>
                <!-- Delete Account Ends-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {%endblock body%}
  {%block script%}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
  <script src="{% static 'js/ajax/actions.js'%}"></script>
  <script src="http://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  {%endblock script%}
</body>

</html>