
<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        referrerpolicy="no-referrer" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/userprofile.css' %}" />
    <link href="{%static 'assets/css/theme.css' %}" rel="stylesheet" />
    <style>
      .btn:not(:disabled):not(.disabled) {
          cursor: pointer;
      }

      .btn:not(:disabled):not(.disabled) {
          cursor: pointer;
      }

      .btn-group-sm>.btn, .btn-sm {
          padding: .25rem .5rem;
          font-size: .875rem;
          line-height: 1.5;
          border-radius: .2rem;
      }
      .btn-outline-dark {
          color: #343a40;
          background-color: transparent;
          background-image: none;
          border-color: #343a40;
      }

      .bg-light {
          background-color: #373d4f !important;
      }
      .border {
          border: 1px solid #b4c0e6 !important;
      }
      .fab{
          font-size: 40px;
          color: white;
          padding-left: 5px;
      }
      .alert-error {
      color: #fff;
      background-color: rgb(223, 199, 212);
      border-color: rgb(223, 199, 212);
      }
    </style>
    <title>Foodwagon | User Profile</title>
</head>
<body>
    <section class="customer-profile">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12 col-12">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
        data-navbar-on-scroll="data-navbar-on-scroll"
      >
        <div class="container">
          <a class="navbar-brand d-inline-flex" href="{% url 'delivery:delivery' %}"
            ><img
              class="d-inline-block"
              src="{%static 'assets/img/gallery/logo.svg' %}"
              alt="logo"
            /><span class="text-1000 fs-3 fw-bold ms-2 text-gradient"
              >foodwaGon</span
            ></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"> </span>
          </button>
          <div
            class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0"
            id="navbarSupportedContent"
          >
          <!--
            <div class="mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
              <p class="mb-0 fw-bold text-lg-center">
                Deliver to:
                <i class="fas fa-map-marker-alt text-warning mx-2"></i
                ><span class="fw-normal">Current Location </span
                ><span>Mirpur 1 Bus Stand, Dhaka</span>
              </p>
            </div>
          -->
          <a  class="btn btn-white shadow-warning text-warning"
                href="{% url 'user:userprofile' %}">
          {% if user.first_name %}
            <p class="mb-0 fw-bold text-lg-center shadow-warning text-warning">
              <i class="fas fa-user me-2"></i>
              hello! {{user.first_name}}
            </p>
            {% endif %}
          </a>
            <form class="d-flex mt-4 mt-lg-0 ms-lg-auto ms-xl-0">
              <div class="input-group-icon pe-2">
                <i class="fas fa-search input-box-icon text-primary"></i>
                <input
                  class="form-control border-0 input-box bg-100"
                  type="search"
                  placeholder="Search Food"
                  aria-label="Search"
                />
              </div>
              {% if user.first_name %}
              <a
                class="btn btn-white shadow-warning text-warning"
                href="{% url 'login:logout' %}"
              >
                <i class="fas fa-user me-2"></i>Logout
              </a>
              {% elif not user.first_name %}
              <a
                class="btn btn-white shadow-warning text-warning"
                href="{% url 'login:signin' %}"
              >
                <i class="fas fa-user me-2"></i>Login
              </a>
              {% endif%}
            </form>
          </div>
        </div>
      </nav>

                    <div class="row">
                        <!-- right side user setting -->
                        <div class="col-lg-3 col-md-4 d-md-block d-none ">
                            <div class="card right-side-nav">
                                <div class="row">
                                    <nav class="nav d-block pl-4">

                                        <a data-toggle="tab" class="nav-link active" href="#profile"><i
                                                class="fas fa-user"></i><span>Profile</span> </a>
                                        <a data-toggle="tab" class="nav-link" href="#updateProfile"><i
                                                class="fas fa-user-edit"></i><span>Update Profile</span> </a>
                                        <a data-toggle="tab" class="nav-link" href="#changePassword"><i
                                                class="fas fa-key"></i><span>Change
                                                Password</span> </a>
                                        <a data-toggle="tab" class="nav-link" href="#invoice"><i
                                                class="fas fa-receipt"></i></i><span>Invoice</span> </a>
                                        <a data-toggle="tab" class="nav-link" href="#deleteAccount"><i
                                                class="fas fa-trash-alt"></i><span>Delete Account</span> </a>
                                        <a data-toggle="tab" class="nav-link" href="#logout"><i
                                                class="fas fa-sign-out-alt"></i><span>Logout</span> </a>
                                    </nav>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-8 d-md-block d-none">
                                  <div>
                                    {% for message in messages %}
                                      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        {{ message }}
                                      </div>
                                    {% endfor %}
                                  </div>
                            <div class="card-body tab-content border ">
                                <!-- Customer profile -->
                                <div class="tab-pane active" id="profile" >
                                    <h6>MY PROFILE</h6>
                                    <div class="text-center">
                                    {% if user.profile_pic %}
                                        <img class="img-fluid rounded-circle mt-5" height="160px" width="160px" src="{{ user.profile_pic.url }}" alt="customer pic">
                                    {%else%}
                                        <img class="img-fluid rounded-circle mt-5" height="160px" width="160px" src="{% static 'image/user.png' %}" alt="customer pic">
                                    {%endif%}
                                        <p>Name: {{user.first_name}} </p>
                                        <p>Email: {{user.email}}</p>
                                    </div>
                                </div>

                                    <!-- Customer profile Ends-->
                                    <!-- Update profile -->
                                    <div class="tab-pane" id="updateProfile">
                                        <h6>Update Profile</h6>
                                        <form action={% url 'user:updateuser' %} method="POST" enctype="multipart/form-data" novalidate>
                                        {% csrf_token %}
                                            {{form.first_name}}
                                            {{form.email}}
                                            {{form.profile_pic}}
                                            <input type="submit" name="submit" class="btn btn-primary btn-sm" value="Update Account"> 
                                        </form>
                                    </div>

                                    <!-- Update profile Ends-->
                                <!-- Change Password-->
                                <div class="tab-pane changePasswordForm" id="changePassword">
                                    <h6>Change Password</h6>
                                    <form  id="changePassword2" method="POST" novalidate>
                                    {% csrf_token %}
                                        {{form.password}}
                                        {{form.newpassword}}
                                        {{form.renewpassword}}
                                        <input type="submit" name ="changePassword1" class="btn btn-primary btn-sm" value="Change Password">
                                    </form>
                                </div>
                                <!-- Change Password Ends-->

                                <!-- Invoice -->
                                <div class="tab-pane" id="invoice">
                                    <h6>Invoice</h6>
                                </div>
                                <!-- Invoice Ends-->

                                <!-- Delete Account -->
                                <div class="tab-pane" id="deleteAccount">
                                    <h6>Delete Account</h6>
                                    <p>Are you sure you want to delete this account</p>
                                    <form action="" method="POST">
                                        <input type="submit" name="delete" class="btn btn-primary btn-sm" value="Delete Account"/>
                                    </form>
                                </div>
                                <!-- Delete Account Ends-->

                                <!-- Logout -->
                                <div class="tab-pane" id="logout">
                                    <h6>Logout</h6>
                                    <p>Are you sure you want to logout of your account</p>
                                    <a class="btn btn-outline-dark btn-sm" href="{% url 'login:logout' %}"> Logout</a>
                                </div>
                                <!-- Logout Ends-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-0 pt-7 bg-1000">
        <div class="container">
          <div class="row">
            <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
              <h5 class="lh-lg fw-bold text-white">COMPANY</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg">
                  <a class="text-200 text-decoration-none" href="#!"
                    >About Us</a
                  >
                </li>
                <li class="lh-lg">
                  <a class="text-200 text-decoration-none" href="#!">Team</a>
                </li>
                <li class="lh-lg">
                  <a class="text-200 text-decoration-none" href="#!">blog</a>
                </li>
              </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xxl-2 col-lg-3 mb-3">
              <h5 class="lh-lg fw-bold text-white">CONTACT</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg">
                  <a class="text-200 text-decoration-none" href="#!"
                    >Help &amp; Support</a
                  >
                </li>
                <li class="lh-lg">
                  <a class="text-200 text-decoration-none" href="#!"
                    >Partner with us
                  </a>
                </li>
                <li class="lh-lg">
                  <a class="text-200 text-decoration-none" href="#!"
                    >Ride with us</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
              <h5 class="lh-lg fw-bold text-white">LEGAL</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg">
                  <a class="text-200 text-decoration-none" href="#!"
                    >Terms &amp; Conditions</a
                  >
                </li>
                <li class="lh-lg">
                  <a class="text-200 text-decoration-none" href="#!"
                    >Refund &amp; Cancellation</a
                  >
                </li>
                <li class="lh-lg">
                  <a class="text-200 text-decoration-none" href="#!"
                    >Privacy Policy</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-8 col-lg-6 col-xxl-4">
              <h5 class="lh-lg fw-bold text-500">FOLLOW US</h5>             
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
              <h3 class="text-500 my-4">
                Receive exclusive offers and <br />discounts in your mailbox
              </h3>
              <div class="row input-group-icon mb-5">
                <div class="col-auto">
                  <i class="fas fa-envelope input-box-icon text-500 ms-3"></i>
                  <input
                    class="form-control input-box bg-800 border-0"
                    type="email"
                    placeholder="Enter Email"
                    aria-label="email"
                  />
                </div>
                <div class="col-auto">
                  <button class="btn btn-primary" type="submit">
                    Subscribe
                  </button>
                </div>
              </div>
            </div>
          </div>
          <hr class="border border-800" />
          <div class="row flex-center pb-3">
            <div class="col-md-6 order-0">
              <p class="text-200 text-center text-md-start">
                All rights Reserved &copy; @anupamsiwakotico, 2021
              </p>
            </div>
            <div class="col-md-6 order-1">
              <p class="text-200 text-center text-md-end">
                Made with&nbsp;
                <svg
                  class="bi bi-suit-heart-fill"
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="15"
                  fill="#FFB30E"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"
                  ></path></svg
                >&nbsp;by&nbsp;<a
                  class="text-200 fw-bold"
                  href="https://themewagon.com/"
                  target="_blank"
                  >@anupam
                </a>
              </p>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script  src="{% static 'js/ajax/actions.js'%}"></script>  
    <script src="http://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
</body>
</html>